


body {
    font-family: "raleway", sans-serif ;
    ;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

header img {
height: 45px ;
margin: 20px 0 0 40px ;
}

 nav ul {
    display: flex;
    list-style: none;
    margin-right: 15px;
}

nav li {
    margin: 0 10px 0 20px;
}

a:visited {
    color: black;
}

a {
    text-decoration: none;
}

nav li:hover {
    text-decoration: overline #0065FC;
    color: #DEEBFF;
}

.icone-small {
    border: 1px solid grey;
}

/*main*/

/*en-tête*/

.recherche {
    width: 600px;
    margin-left: 30px;

}

.recherche h1 {
    margin: 20px 0 0 0;
font-size: 20px;
}

.recherche p {
    margin-top: 8px;
}

.formulaire {
    display: flex;
}

.icone {
    height: 40px;
    width: 45px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    vertical-align: top;
}
.icone i {
margin-top: 11px;
margin-left: 18px;
}

button {
    background-color:#0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: none;
    height: 40px;
    width: 90px;
    font-size: 13px;
    margin-left: -5px;
    margin-top: 0.5px;
    
}

input {
    height:40px ;
    width: 230px;
}

.filtres {
   display: flex;
   flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 15px;
}

.filtres h1 {
    margin-top: 26px;
    margin-left: 5px;
}

.menu-filtres {
    display: flex;
    margin-top: 18px;
    margin-left: 30px ;
    margin-bottom: 20px;
}

.menu-filtres > div {
    display: flex;
    border: 2px solid #F2F2F2 ;
    border-radius: 25px;
    height: 45px;
    padding-right: 22px;
    margin-right: 35px;
}

.menu-filtres > div > div {
background-color: #DEEBFF;
    height: 46px;
    width: 46px;
    border-radius: 25px;
    margin-left: -5px;
}

.menu-filtres b {
    margin-top: 10px;
    margin-left: 15px;
}

.menu-filtres i {
    margin-top: 14px;
    margin-left: 14.5px;
}

.filtres h1 {
    font-size: 20px;
}
.menu-filtres>div:hover {
    background-color: #DEEBFF ;
}


.informations {
    display: flex;
    font-size: 10px;
    
    margin: 20px 0 20px 35px;
}

.informations div {
    height: 15px;
    width: 15px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    margin-top: 2px;
}

.informations i {
margin-top: 3px;
}

.informations p {
    margin-top: 0;
    font-size: initial;
}

/*Partie Hébergements*/

.partie-hebergements {
    
    width: 100%;
    height: 33%;
    display: flex;
    
    
}

.hebergements {
    
    vertical-align: top;
    min-height: 100%;
    width: 66%;
    margin-left: 30px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.hebergements h1 {
    margin-left: 100px;
}

.lien-hebergement {
    margin-left: 50px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 80px;
    width: 80%;
    height: 70%;
}

.medium {
    width: 210px;
    height: 160px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
    margin-bottom: 30px ;
}

.card-image {
    height: 95px;
    width: 96% ;
    margin:2% 2% 0 2% ;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    
}

.card-image img {
width: 110%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.card-body {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;
    
}

.card-titre {
    font-size: 9px;

}
.card-titre h2 {
    margin: 2px 0px;
}

.card-details p {
    font-size: 12px;
    margin: 4px 0px ;
    
}

.card-notes {
font-size: 9px;
color:#0065FC ;
}

.populaires { 
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100%;
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.titre {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-top: 5px;
    margin-left: 30px;
}

.titre i {
    margin-top: 5px;
}

h1 {
font-size: 22px;
}

.article-small {
   height: 80%;
   width: 80%;
   margin-left: 85px;
   
}
.small {
    display: flex;
    width: 320px;
    height: 120px;
    background-color: white;
    box-shadow: 0px 0px 30px #a1a1a1;
    border-radius: 15px;
    margin-bottom: 30px ;
}

.image-small {
    height: 120px;
    width: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}
.image-small img {
    width: 115%;
    height:  93%;
    position: absolute;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    margin-top: 3.5px;
    margin-left: 3.5px;
}

.body-small {
    margin-left: 15px;
    width: 156px;
   
}
.titre-small {
    font-size: 9px;
    margin-bottom: -5px;
}

.details-small {
    font-size: 12px;
}

.note-small {
    margin-top: 30px ;
    font-size: 9px;
    color:#0065FC ;
    }



/*Partie Activités*/


.partie-activites {
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 60px;
}
.titre-activites {
    margin-left: 30px;
    margin-bottom: 25px;
    }

.activites {
    margin-left: 10px;
height: 100%;
width: 100%;
display: flex;


}

.colonne {
    width: 23%;
    height: 100%;
    margin-left: 20px;

}

.card-activites-1-4 {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
    
}

.image-activites {
    height: 88%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}



.image-activites img {
    position: absolute;
    object-fit: cover;
    width: 110%;
    height: 100%;
}

.img-mini {
    height: 77% ;
}

.img-mini-3 {
    height: 66%;
}

.img-mini-5 {
    height: 70%;
}

.img-mini-6 {
    height: 75%;
}
.body-activites {
    height: 50px;
}

.body-activites p {
    margin: 15px 20px;
}

.card-activites-2 {
    height: 55%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
    margin-bottom: 40px;
}
.card-activites-3 {
    
    height: 35%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
}
.card-activites-5 {
    height: 42%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
    margin-bottom: 40px;
}
.card-activites-6 {
    height: 48%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
}


/*footer*/

.footer {
    height: 15%;
display: flex;
justify-content: flex-start ;
background-color: #F2F2F2 ;
padding-top: 30px;


}
.footer li {
    list-style: none;
    margin-bottom: 10px;
}

.info-footer {
   margin-right: 230px;
}

.titre-footer {
    margin-left: 40px;
}

