



body {
    font-family: "raleway", sans-serif ;
    margin: 0;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between ;
}

.image-logo img {
height: 45px ;
margin: 20px 0 0 40px ;
}


nav ul {
    display: flex;
    list-style: none;
    margin: 0 15px 0 0;
}

nav li {
    padding: 40px 25px 0 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav li:hover {
    border-top: 2px solid #0065FC ;
    color: #0065FC;
}

.icone-small {
    border: 1px solid #F2F2F2;
}

/*main*/

/*en-tête*/

.en-tete {
    margin-top: 30px;
}
.recherche {
    margin-left: 30px;
}

.recherche h1 {
    font-size: 20px;
    margin: 0;
}

.recherche p {
    margin-top: 8px;
}

.formulaire {
    display: flex;
}

.icone {
    height: 40px;
    width: 45px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    vertical-align: top;
}
.icone i {
margin-top: 11px;
margin-left: 18px;
}

button {
    background-color:#0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    border: none;
    height: 40px;
    width: 90px;
    font-size: 13px;
    margin-left: -5px;
    margin-top: 0.5px;
}

.fa-search {
    display: none;
}

input {
    height:40px ;
    width: 230px;
}

.filtres {
   display: flex;
   flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 15px;
}

.filtres h1 {
    margin-top: 26px;
    margin-left: 5px;
}

.menu-filtres {
    display: flex;
    margin-top: 18px;
    margin-left: 30px ;
    margin-bottom: 20px;
}

.menu-filtres > div {
    display: flex;
    border: 2px solid #F2F2F2 ;
    border-radius: 25px;
    height: 45px;
    padding-right: 22px;
    margin-right: 35px;
}

.menu-filtres > div > div {
background-color: #DEEBFF;
    height: 46px;
    width: 46px;
    border-radius: 25px;
    margin-left: -5px;
}

.menu-filtres b {
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-left: 15px;
}

.menu-filtres i {
    margin-top: 14px;
    margin-left: 14.5px;
    color: #0065FC;
}

.filtres h1 {
    font-size: 20px;
}
.menu-filtres>div:hover {
    background-color: #DEEBFF ;
}


.informations {
    display: flex;
    font-size: 10px;
    width: fit-content;
    margin: 20px 0 20px 35px;
}

.informations div {
    height: 20px;
    width: 20px;
    border: 1px solid grey;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    margin-top: 2px;
}

.informations i {

margin-top: 4px;
color: #0065FC;
}

.informations p {
    margin-top: 0;
    font-size: initial;
}

/*Partie Hébergements*/

.partie-hebergements {
    
    width: 100%;
    height: 33%;
    display: flex;
    
    
}

.hebergements {
    
    vertical-align: top;
    min-height: 100%;
    min-width: 64%;
    margin-left: 2%;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.hebergements h1 {
    margin-left: 100px;
}

.lien-hebergement {
    margin-left: 50px;
}



.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    margin-left: 90px;
    width: 80%;  
    height: 70%;
}



.medium {
    width: 28%;
    height: 160px; 
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
    margin-bottom: 30px ;
}

.card-image {
    height: 95px;
    width: 96% ;
    margin:2% 2% 0 2% ;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    
}

.card-image img {
width: 110%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.card-body {
    box-sizing: border-box;
    width: 100%;
    padding:1% 0 0 2%;
    
}

.card-titre {
    font-size: 9px;

}
.card-titre h2 {
    margin: 2px 0px;
}

.card-details p {
    font-size: 12px;
    margin: 2px 0px ;
    
}

.card-notes {
font-size: 9px;
color:#0065FC ;
}

.grey {
    color: #D5DADF;
}

.populaires { 
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 100%;
    min-width: 31%;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.titre {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    margin-top: 5px;
    margin-left: 30px;
}

.titre i {
    margin-top: 5px;
}

h1 {
font-size: 22px;
}

.article-small {
   height: 80%;
   min-width: 60%;
   margin-left: 15%;
   margin-right: 10%;
}
.small {
    display: flex;
    max-width: 10    0%;
    height: 120px;
    background-color: white;
    box-shadow: 0px 0px 30px #a1a1a1;
    border-radius: 15px;
    margin-bottom: 30px ;
}

.image-small {
    height: 120px;
    width: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}
.image-small img {
    width: 115%;
    height:  93%;
    position: absolute;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    margin-top: 3.5px;
    margin-left: 3.5px;
}

.body-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    padding-bottom: 2%;
    width: 156px;
   
}
.titre-small {
    font-size: 9px;
    margin-bottom: -5px;
}

.details-small {
    font-size: 12px;
}

.note-small {
    font-size: 9px;
    color:#0065FC ;
    }



/*Partie Activités*/


.partie-activites {
    height: 420px;
    width: 100%;
    
    margin-top: 60px;
}
.titre-activites {
    margin-left: 30px;
    margin-bottom: 25px;
    }

.activites {
height: 100%;
width: 100%;
display: flex;
}

.colonne-1 {
    display: flex;
    width: 49%;
    margin-bottom: 50px;
}

.colonne-2 {
    display: flex;
    width: 49%;
    margin-bottom: 50px;
}

.colonne {
    width: 80%;
    height: 100%;
    margin-left: 20px;

}

.card-activites-1-4 {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
    
}

.image-activites {
    height: 88%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}



.image-activites img {
    position: absolute;
    object-fit: cover;
    width: 110%;
    height: 100%;
}

.img-mini {
    height: 77% ;
}

.img-mini-3 {
    height: 66%;
}

.img-mini-5 {
    height: 70%;
}

.img-mini-6 {
    height: 75%;
}
.body-activites {
    height: 12%;
    margin-left: 10px;
    padding-top: 4%;
}

.localisation {
    height: fit-content;
    justify-content: center;
}

.body-activites p {
    justify-content: center;
    margin: 0;
}


.card-activites-2 {
    height: 55%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
    margin-bottom: 40px;
}
.card-activites-3 {
    
    height: 35%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
}
.card-activites-5 {
    height: 42%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
    margin-bottom: 40px;
}
.card-activites-6 {
    height: 48%;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #a1a1a1;
}


/*footer*/

.footer {
    height: fit-content;
    display: flex;
    justify-content: flex-start ;
    background-color: #F2F2F2 ;
    margin-top: 30px;

}

.footer li {
    list-style: none;
    margin-bottom: 10px;
}

.info-footer {
   margin-right: 230px;
}

.titre-footer {
    margin-left: 40px;
}



@media only screen and (min-width: 768px) and (max-width:992px)
{

    .menu-filtres {
        flex-wrap: wrap;
    }

    .menu-filtres > div {
        margin-bottom: 15px;
    }

    .menu-filtres b {
        justify-content: center;
        align-items: center;
        margin-top: 12px;
        margin-left: 15px;
    }

    .partie-hebergements {
        flex-direction: column-reverse;
        width: 100%;
        height: fit-content;
    }

    .populaires {
        max-width: 100%;
        border-radius: 0px;
        margin: 0px 0px;
    }

    .small {
        max-width: 100%;
        margin-right: 0px;
    }

    .body-small {
        width: 50%;
    }

    .hebergements {
        background-color: white;
        max-width: 100%;
        margin-left: 0px;
    }

    .partie-activites {
        height: 100%;
    }

    .activites {
        flex-direction: column;
        margin-left: 0;
        height: 700px;
    }

    .colonne-1 {
        margin-bottom: 40px;
        height: 45%;
        width: 98%;
    }

    .colonne-2 {
        margin-bottom: 10px;
        height: 45%;
        width: 98%;
    }

.body-activites {
    padding-top: 3%;
}

    .footer {
        display: flex;
        flex-wrap:nowrap;
        justify-content: space-around;
        width: 100%;
    }

    .info-footer {
        margin-right: 5%;
    }
}

@media only screen and (max-width: 768px) 
{
    body {
        width: auto;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav {
        width: 100%;
    }
    
    nav ul {
        width: 100%;
        padding-left: 0px;
        justify-content: space-around;
    }

    nav li {
        width: 241.5px;
        text-align: center;
        padding: 30px 0;
        border-bottom: 2px solid #F2F2F2;
        border-top: none;
    } 

    nav li:hover {
        border-bottom: 2px solid #0065FC ;
        border-top: none;
        color: #0065FC;
    }

    .formulaire {
        justify-content: center;
    }

    button {
        width:40px
    }

    .mobile-none {
        display: none;
    }

    .fa-search {
        display: inline;
    }

    .menu-filtres {
        flex-wrap: wrap;
    }

    .menu-filtres > div {
        margin-bottom: 15px;
    }

    .partie-hebergements {
        flex-direction: column-reverse;
        width: 100%;
        height: fit-content;
    }

    .populaires {
        max-width: 100%;
        border-radius: 0px;
        margin: 0px 0px;
    }

    .small {
        max-width: 100%;
        margin-right: 0px;
    }

    .hebergements {
        background-color: white;
        max-width: 100%;
        margin-left: 0px;
    }

    .hebergements h1 {
        margin-left: 30px;

    }

    .articles {
        margin: 0;
        width: 100%;
        align-content: center;
    }

    .medium {
        width: 80%;
    }


    .partie-activites {
        height: 100%;
    }

    .activites {
        flex-direction: column;
        margin-left: 0;
    }

    .colonne-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .colonne-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .colonne {
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        margin-left: 0;
    }

    .colonne > div {
        height: 150px;
        width: 70%;
        margin-left: 15%;
    }

    .image-activites {
        height: 80%;
    }

    .body-activites {
        padding-top: 2px;
    }

    .body-activites p {
        margin-top: 5px;
    }

    .footer {
        flex-direction: column;
        width: 100%;
    }
}